h1{
    font-family: 'Arial';
    text-align: center;
}
.contact-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-family: 'Arial';
}
.body{
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
}
.col{
    font-family: 'Arial';
}
.button{
    font-family: 'Arial';
}
.main{
    background-color: cornflowerblue;
}
.left{
	text-decoration: none;
    	text-align: left;
    	color: black;
}
.center{
    text-align: center;
}  
.white{
    color: white;
    text-decoration:none;
	text-align:left;
}
.form-wrapper{
    display:flex;
    flex-wrap: wrap;
    align-items:flex-start;
    justify-content: center;
    padding:20px;
    border-radius:8px;
}
.form{
    display: flex;
    flex-direction: column;
    width:100%;
    max-width: 400px;
}
.mb-3{
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}
.bold{
    font-weight: bold;
}
img.rounded {
    object-fit: cover;
    border-radius: 50%;
    height: 100px;
    width: 100px;
  }
#contact-left{
    width: 60%;
}
#carousel-right{
    width:35%;
    justify-content: center;
    align-items: center;
}
@media (max-width:800px){
	#carousel-right{
		display:none;
	}
}
	
.contact{
    position: fixed;
    width:100%;
    bottom: 0%;
    background-color: yellowgreen;
    color: white;
}
#contact2{
    text-align: center;
}
/* Fixed Navbar */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s ease, opacity 0.3s ease; /* Smooth transition */
}

/* Initial Navbar Style */
.navbar-inverse {
    background-color: #113448; /* Default background color */
    color: white;
}

/* Navbar Style After Scrolling */
.navbar.scrolled {
    background-color: rgba(17, 52, 72, 0.8); /* Semi-transparent on scroll */
    opacity: 0.9;
    color: white;
}
h1{
	margin-left:100px;
	color:white;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s ease, opacity 0.3s ease; /* Smooth transition */
}
/* Fixed Navbar */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s ease, opacity 0.3s ease; /* Smooth transition */
}

/* Navbar Style After Scrolling */
.navbar.scrolled {
    background-color: rgba(17, 52, 72, 0.8); /* Semi-transparent on scroll */
    opacity: 0.9;
    color: white;
}
 
.navbar-brand {
  background: url(../Images/logo.png) left / contain no-repeat;
  width: 300px;
  margin-left:30px;
}
/* Add background color and some padding to the footer */
footer{
	background-color: #113448; /* Default background color */
    color: white;
	padding-top: 25px;
}
.centered-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
	align:Center;
	border:2px solid #113448;
}  


