/*Lets say for navbar, footer, buttons... we use something like this #113448 and white text*/
body{
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}
header {
    background-color: #113448;
    color: white;
    text-align: center;
    padding: 25px 0;
}
main {
    padding: 32px;
}
.about-section {
    background: url("images/flag.jpg"); 
    max-width: 800px;
    margin: 0 auto;
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.about-section h2 {
    color: #113448;
    margin-bottom: 12px;
}
.about-section p {
    margin-bottom: 24px;
}
/*https://www.w3schools.com/cssref/tryit.php?filename=trycss3_image_gallery*/
/*Polaroid style*/
.card{
    padding:10px;
    background-color:white;
    box-shadow:10px 10px 5px #aaaaaa;
    transform-origin:center;
    border:1px solid #BFBFBF;
}
.rotate_right{
    transform:rotate(7deg);
}
.rotate_left{
    transform:rotate(-7deg);
}
  /*buttons style*/
.btn-primary{
    background-color:#113448;
    color:white;
}
/*Home link style*/
a{
    position:absolute;
    top:10px;/*distance from the top*/
    right:10px;/*distance from the right edge*/
    padding:10px 15px;/*padding inside the element*/
    color:#113448;/*text color*/
    text-decoration:none;/*remove underline*/
    font-weight:bold;/*text bold*/
    font-size:110%;/*font size*/
}
/*horizontal line*/
hr{ 
    border:0;/*remove default value*/
    height:2px;
    background:#113448;
    margin:20px 5px;/*vertical spacing above and below*/
}
ul{
    list-style-type:circle;/*circle bullets*/
    padding-left:20px; 
    text-align:left;
}
ul li::marker{/*change the color of bullets*/
    color:#113448; 
    font-size:110%;
}
/*https://www.w3schools.com/w3css/w3css_slideshow.asp*/
.w3-content{
    max-width:100%;/*full width*/
    text-align:center;/*center align*/
}
.mySlides{
    display:none;
    width:100%;
    max-height:70vh;
    object-fit:cover;
}


